<h1>Liste des bars</h1>

<%= link_to 'Nouveau Bar', new_bar_path %>

<table>
  <tr>
    <th>Nom</th>
  </tr>

  <% @bars.each do |bar| %>
    <tr>
      <td><%= link_to bar.name, bar %></td>
    </tr>
  <% end %>
</table>
