<h1>Liste des bars</h1>

<%= link_to 'Retour', root_url %><br/>
<%= link_to 'Nouveau Bar', new_bar_path %>

<table>
  <tr>
    <th>Nom</th>
  </tr>

  <% @bars.each do |bar| %>
    <tr>
      <td><%= link_to bar.name, bar %></td>
      <td><%= link_to 'Supprimer', bar_path(bar),
                    method: :delete,
                    data: { confirm: 'Voulez-vous vraiment supprimer ce bar ?
                            Attention, cela supprime tous les n1As appartenant à ce bar !' } %></td>
    </tr>
  <% end %>
</table>
