<h1>Liste des bars</h1>

<%= link_to 'Retour', root_url %><br/>
<%= link_to 'Nouveau Bar', new_bar_path %>

<h2><small>Liste des bars</small></h2>
  <% @bars.each do |bar| %>
    <ul>
      <li><%= link_to bar, bar %></li>
    </ul>
  <% end %>

