<table class="table table-striped table-responsive">
  <tr>
    <th>Utilisateur</th>
    <th>Bar</th>
  </tr>

  <% users.each do |user| %>
    <tr>
      <td><%= link_to user, user %></td>
      <td><%= link_to user.bar %></td>
    </tr>
  <% end %>
</table>
