<h1>Page d'accueil</h1>
<%= link_to 'Bars',  controller: 'bars' %><br/>
<%= link_to 'Users', controller: 'users' %><br/>
<%= link_to 'Jours', controller: 'jours' %><br/>
<%= link_to 'PAPS',  controller: 'paps' %><br/>
