<div class="row">
 <div class="small-12 columns">
	 <h1 class="titre">Page d'accueil</h1>
	 <p class="espace">Patience, patience...</p>
         <!--p class="espace">Tout le monde peut PAPSer ! M&ecirc;me toi l&agrave; !</p-->
	 <p class="espace">Pour les preuves des PAPS, envoyez les &agrave; <a href="mailto:respoaffprev2015@larez.fr">respoaffprev2015@larez.fr</a> avant <strong>19h00</strong>. Tout retard risque d'entra√Æner une perte de point, voire une impossibilit√de PAPSer le lendemain©
	 <!--p class="espace">Pour ceux PAPSant des cr&eacute;neaux pr&eacute;ventes, pensez &agrave; venir nous voir avec une <strong>bo&icirc;te pouvant servir de caisse</strong>, et <strong>deux ch√®ques de caution</strong> : un de <strong>60euros</strong> pour votre caisse, et un de <strong>720euros</strong>, pour les pr√©ventes, tout √ßa <strong>&agrave; l'ordre de AESG</strong>. Les ch&egrave;ques ne seront bien s&ucirc;r pas encaiss&eacute;s tant que les comptes des bars seront bons.</p-->
	</div>
</div>
<div class="row text-center">
	<div class="col-sm-6 col-sm-offset-3">
		<img src="assets/mardi_22.jpg" class="img-responsive"></img><small>C'est bon esprit !</small>
	</div>
</div>
