
<nav class="navbar navbar-inverse" data-topbar role="navigation">
 <div class="container-fluid">
  <!--ul class="navbar-header">
    <li class="name">
      <h1 class="navbar-brand"--><%=link_to "PAPS", root_path, :class=>"navbar-brand" %><!--/h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul-->

  <section>
    <ul class="nav navbar-nav">
     <%= render 'layouts/navigation_links_left' %>
    </ul>
       <ul class="nav navbar-nav navbar-right">
      <%= render 'layouts/navigation_links_right' %>
    </ul>
  </section>
 </div>
</nav>

